.image-preview {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.image-preview-table {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.full-height {
  height: 100vh;
}

.toasts-bottom-right {
  z-index: 10000;
}

.toast {
  font-size: 1rem;
}
